.styletmpl {
	padding: 5px;
	border: 1px solid gainsboro;
	margin: 5px 0;
}

.tmpl-header {
	font-size: 1.1em;
	color: darkgray;
	border-bottom: 1px solid gainsboro;
}

.tmpl-content {
	padding: 10px;
}