<!DOCTYPE html>
<html ng-app="storylayers">

<head>
    <title>MapStory 7</title>
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/angular-rangeslider/angular.rangeSlider.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/openlayers/lib/OpenLayers.js"></script>
    
    <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    
    <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
    
<!--    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
    
    <script src="js/ui-bootstrap-tpls-0.9.0.min.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    
    
</head>

<body ng-controller="drawCtrl"></body>
	<iframe style="position:absolute; z-index:0" width="100%" height="800" src="http://maps.stamen.com/watercolor/embed#12/38.8988/-77.0817"></iframe>
	<div class="container" style="z-index:1">
		<div class="row">
			<div class="col-sm-4">
				<accordion close-others="1">
        			<accordion-group ng-repeat="layer in layers" heading="{{layer.name}}" is-open="{{layer.open}}">
            			<!--carousel template-->
            			<div>
  							<div style="height: 200px">
    							<carousel interval="myInterval">
      								<slide ng-repeat="slide in layer.slides" active="slide.active">
      									<!--placeholder for style previews-->
        								<img ng-src="{{slide.image}}" style="margin:auto;">
        							</slide>
   				 				</carousel>
   				 			</div>
   				 			<div class="container" style="border-top:1px solid gainsboro">
   				 				<div class="row">
    								<div class="col-md-12">
    									<!--placeholder for style options like buttons etc-->
          								<div id="symboltmpl" class="styletmpl" ng-show="showPanel('Symbol', layer.geometry.type)">
          									<!--template-->
          									<div class="tmpl-header">Symbology panel</div>
          									<form class="tmpl-content">
          										<div class="form-group">
                                                    
													<div class="btn-toolbar">
<!--
                                                        <div class="dropdown">
                                                            <a class="btn btn-default" data-toggle="dropdown" href="#">Symbol<b class="caret"></b></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a>Circle</a>
                                                                </li>
                                                                <li>
                                                                    <a>Triangle</a>
                                                                </li>
                                                                <li>
                                                                    <a>Square</a>
                                                                </li>
                                                            </ul>
                                                        </div>
-->
                                                        
														<div class="btn-group" dropdown is-open="false">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Symbol <span class="caret"></span>
      														</button>
                                                            
                                                            
      														<ul class="dropdown-menu" role="menu">
        														<li ng-repeat="symbol in presets.symbol.symbol" ng-click="updateStyle('Symbol',symbol, layer.id)">
                                                                    <a href="#">{{symbol}}</a>
                                                                </li>
      														</ul>
    													</div>
                                                        
                                                        
    													<div class="btn-group" dropdown is-open="0">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Size <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li ng-repeat="size in presets.symbol.size" ng-click="updateStyle('Size',size, layer.id)">
                                                                    
                                                                    <a href="#">{{size}}</a>
                                                                </li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="0">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
                                                                <div range-slider min="0" max="100" model-min="min1" model-max="max1" orientation="vertical"></div>
        														<li><a href="#" ng-click="updateStyle('Fill','Blue', layer.id)">Blue</a></li>
        														<li><a href="#" ng-click="updateStyle('Fill','Red', layer.id)">Red</a></li>
       	 														<li><a href="#" ng-click="updateStyle('Fill','Green', layer.id)">Green</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="0">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Alpha <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li ng-repeat="value in presets.symbol.alpha" ng-click="updateStyle('Alpha', value/100, layer.id)">
                                                                    <a href="#">{{value}}%</a>
                                                                </li>
      														</ul>
    													</div>
													</div>
												</div>
											</form>
          								</div>
          								<div id="filltmpl" class="styletmpl" ng-show="showPanel('Fill',layer.geometry.type)">
          									<!--template-->
          									<div class="tmpl-header">Fill panel</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Fill <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Solid</a></li>
        														<li><a href="#">Checkered</a></li>
       	 														<li><a href="#">Striped</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Blue</a></li>
        														<li><a href="#">Red</a></li>
       	 														<li><a href="#">Green</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Alpha <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">100%</a></li>
        														<li><a href="#">75%</a></li>
       	 														<li><a href="#">50%</a></li>
       	 														<li><a href="#">25%</a></li>
      														</ul>
    													</div>
													</div>
												</div>
											</form>
          								</div>
          								<div id="stroketmpl" class="styletmpl">
          									<!--template-->
          									<div class="tmpl-header">Strokes panel</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Stroke <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Solid</a></li>
        														<li><a href="#">Dashed</a></li>
       	 														<li><a href="#">Dotted</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Weight <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">1</a></li>
        														<li><a href="#">2</a></li>
       	 														<li><a href="#">3</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Blue</a></li>
        														<li><a href="#">Red</a></li>
       	 														<li><a href="#">Green</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Alpha <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">100%</a></li>
        														<li><a href="#">75%</a></li>
       	 														<li><a href="#">50%</a></li>
       	 														<li><a href="#">25%</a></li>
      														</ul>
    													</div>
													</div>
												</div>
											</form>
          								</div>
          								<div id="classtmpl" class="styletmpl">
          									<!--template-->
          									<div class="tmpl-header">Classification panel</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Source <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Column 1</a></li>
        														<li><a href="#">Column 2</a></li>
       	 														<li><a href="#">Column 3</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Scheme <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Natural</a></li>
        														<li><a href="#">Normal</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Classes <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">3</a></li>
        														<li><a href="#">5</a></li>
       	 														<li><a href="#">7</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Type <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Color</a></li>
        														<li><a href="#">Size</a></li>
       	 														<li><a href="#">Random</a></li>
      														</ul>
    													</div>
    												</div>
												</div>
											</form>
          								</div>
          								<div id="symboltmpl" class="styletmpl">
          									<!--template-->
          									<div class="tmpl-header">Label panel</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Source <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Column 1</a></li>
        														<li><a href="#">Column 2</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Size <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">1</a></li>
        														<li><a href="#">2</a></li>
       	 														<li><a href="#">3</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Font <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Arial</a></li>
        														<li><a href="#">Helvetica</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Red</a></li>
        														<li><a href="#">Blue</a></li>
       	 														<li><a href="#">Black</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Position <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Left</a></li>
        														<li><a href="#">Right</a></li>
       	 														<li><a href="#">Top</a></li>
       	 														<li><a href="#">Bottom</a></li>
      														</ul>
    													</div>
													</div>
												</div>
											</form>
          								</div>
									</div>
								</div>
  							</div>
  						</div>
        			</accordion-group>
    			</accordion>
			</div>
			<div class="col-sm-8">
				<div id="container">
        			<canvas id="layerspace" width="500" height="500"></canvas>
   				</div>
			</div>
		</div>
	</div>
</body>

</html>