<!DOCTYPE html>
<html ng-app="storylayers">

<head>
    <title>MapStory 7</title>
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet">
<!--    <link href="bower_components/bootstrap-css/css/bootstrap.css" rel="stylesheet">-->
    <link href="bower_components/angular-rangeslider/angular.rangeSlider.css" rel="stylesheet">
    <link href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/openlayers/lib/OpenLayers.js"></script>
    
    <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    
    <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    
<!--    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
    
    <script src="js/ui-bootstrap-tpls-0.9.0.min.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-controller="drawCtrl"></body>
	<iframe style="position:absolute; z-index:0" width="100%" height="800" src="http://maps.stamen.com/watercolor/embed#12/38.8988/-77.0817"></iframe>
	<div class="container" style="z-index:1">
		<div class="row">
			<div class="col-sm-4">
				<accordion close-others="1">
        			<accordion-group ng-repeat="layer in layers" heading="{{layer.name}}" is-open="{{layer.open}}">
            			<!--carousel template-->
            			<div>
  							<div style="height: 200px">
    							<carousel interval="myInterval">
      								<slide ng-repeat="slide in layer.slides" active="slide.active">
      									<!--placeholder for style previews-->
        								<img ng-src="{{slide.image}}" style="margin:auto;">
        							</slide>
   				 				</carousel>
   				 			</div>
   				 			<div class="container" style="border-top:1px solid gainsboro">
   				 				<div class="row">
    								<div class="col-md-12">
    									<!--placeholder for style options like buttons etc-->
          								<div id="symboltmpl" class="styletmpl" ng-show="showPanel('Symbol', layer.geometry.type)">
          									<!--template-->
          									<div class="tmpl-header">Symbology</div>
          									<form class="tmpl-content">
          										<div class="form-group">
                                                    
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="false">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Symbol <span class="caret"></span>
      														</button>
                                                            <ul class="dropdown-menu" role="menu">
        														<li ng-repeat="symbol in presets.symbol.symbol" ng-click="updateStyle('graphicName',symbol, layer.id)">
                                                                    <a href="#">{{symbol}}</a>
                                                                </li>
      														</ul>
    													</div>
                                                        
                                                        
    													<div class="btn-group" dropdown is-open="0">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Size <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li ng-repeat="size in presets.symbol.size" ng-click="updateStyle('Size',size, layer.id)">
                                                                    
                                                                    <a href="#">{{size}}</a>
                                                                </li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="0">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#" ng-click="updateStyle('Fill','Blue', layer.id)">Blue</a></li>
        														<li><a href="#" ng-click="updateStyle('Fill','Red', layer.id)">Red</a></li>
       	 														<li><a href="#" ng-click="updateStyle('Fill','Green', layer.id)">Green</a></li>
      														</ul>
      													</div>
    													<div class="btn-group" dropdown is-open="0">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Alpha <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
      															<div range-slider min="0" max="100" model-max="layer.max" pin-handle="min" orientation="vertical" ng-click="updateStyle('fillOpacity',layer.max/100, layer.id)"></div>
      														</ul>
    													</div>
    												</div>
												</div>
											</form>
          								</div>
          								<div id="filltmpl" class="styletmpl" ng-show="showPanel('Fill',layer.geometry.type)">
          									<!--template-->
          									<div class="tmpl-header">Fill</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Fill <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Solid</a></li>
        														<li><a href="#">Checkered</a></li>
       	 														<li><a href="#">Striped</a></li>
      														</ul>
    													</div>
                                                        
    													<div class="btn-group" dropdown is-open="status.isopen">                                  
      														<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color 
      														</button>
      														<ul class="dropdown-menu" role="menu">
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Alpha <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<div range-slider min="0" max="100" model-max="max1" pin-handle="min" orientation="vertical"></div>
      														</ul>
    													</div>
													</div>
												</div>
											</form>
          								</div>
          								<div id="stroketmpl" class="styletmpl">
          									<!--template-->
          									<div class="tmpl-header">Stroke</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Stroke <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Solid</a></li>
        														<li><a href="#">Dashed</a></li>
       	 														<li><a href="#">Dotted</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Weight <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">1</a></li>
        														<li><a href="#">2</a></li>
       	 														<li><a href="#">3</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Blue</a></li>
        														<li><a href="#">Red</a></li>
       	 														<li><a href="#">Green</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Alpha <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
      															<div range-slider min="0" max="100" model-max="max1" pin-handle="min" orientation="vertical"></div>
      														</ul>
    													</div>
													</div>
												</div>
											</form>
          								</div>
          								<div id="classtmpl" class="styletmpl">
          									<!--template-->
          									<div class="tmpl-header">Classification</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Source <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Column 1</a></li>
        														<li><a href="#">Column 2</a></li>
       	 														<li><a href="#">Column 3</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Scheme <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Natural</a></li>
        														<li><a href="#">Normal</a></li>
      														</ul>
    													</div>
    													<div class="btn-group">
       				 										<label class="btn btn-sm btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
        													<label class="btn btn-sm btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
        													<label class="btn btn-sm btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Type <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Color</a></li>
        														<li><a href="#">Size</a></li>
       	 														<li><a href="#">Random</a></li>
      														</ul>
    													</div>
    												</div>
												</div>
											</form>
          								</div>
          								<div id="labeltmpl" class="styletmpl">
          									<!--template-->
          									<div class="tmpl-header">Label</div>
          									<form class="tmpl-content">
          										<div class="form-group">
													<div class="btn-toolbar">
														<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Source <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Column 1</a></li>
        														<li><a href="#">Column 2</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Size <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">1</a></li>
        														<li><a href="#">2</a></li>
       	 														<li><a href="#">3</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Font <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Arial</a></li>
        														<li><a href="#">Helvetica</a></li>
      														</ul>
    													</div>
    													<div class="btn-group" dropdown is-open="status.isopen">
      														<button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
        														Color <span class="caret"></span>
      														</button>
      														<ul class="dropdown-menu" role="menu">
        														<li><a href="#">Red</a></li>
        														<li><a href="#">Blue</a></li>
       	 														<li><a href="#">Black</a></li>
      														</ul>
    													</div>
    													<div class="btn-group">
        													<label class="btn btn-sm btn-primary" ng-model="checkModel.bold" btn-checkbox><strong>B</strong></label>
        													<label class="btn btn-sm btn-primary" ng-model="checkModel.underline" btn-checkbox><u>U</u></label>
        													<label class="btn btn-sm btn-primary" ng-model="checkModel.italic" btn-checkbox><i>I</i></label>
        													<label class="btn btn-sm btn-primary" ng-model="checkModel.halo" btn-checkbox>H</label>
        													<label class="btn btn-sm btn-primary" ng-model="checkModel.shadow" btn-checkbox>S</label>
    													</div>
													</div>
												</div>
											</form>
          								</div>
          							</div>
								</div>
  							</div>
  						</div>
        			</accordion-group>
    			</accordion>
			</div>
			<div class="col-sm-8">
				<div id="container">
        			<canvas id="layerspace" width="500" height="500"></canvas>
   				</div>
			</div>
		</div>
	</div>
	
</body>

</html>